.catalog h1 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.catalog {
    background-color: #F4CBC7;
}

.card__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 20px;
    width: 330px;
    height: 410px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card__item img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card__item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.card__item-title {
    font-weight: 500;
    font-size: 23px;
    color: #231f1f;
}

.card-item__inner p {
    margin-bottom: auto;
    flex-grow: 1;
}

.card-item__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-bottom: auto;
    padding: 15px;
}

.card__item-top {
    display: flex;
    gap: 10px;
}

.card__item-top span {
    font-weight: 600;
    font-size: 24px;
}

.card__item-bottom {
    display: flex;
    margin-top: auto;
    color: #000000;
    align-items: center;
}

.card__item-bottom span {
    border: #BE6B80 1px solid;
    border-radius: 10px;
    padding: 5px 10px;
}

.card__item-bottom span:hover {
    background-color: #BE6B80;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 10px;
    transition: 0.3s ease;
}

.card__item-bottom p {
    display: flex;
    justify-content: flex-end;
    font-weight: 600;
}


.card__item-top span {
    font-weight: 600;
}

.hidden {
    display: none;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}

.modal__content {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    max-width: 500px;
    width: 90%;
    text-align: center;
    position: relative;
}

.modal__content img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 15px;
    width: 100%;
}

.modal__close {
    position: absolute;
    top: -8px;
    right: 15px;
    font-size: 30px;
    cursor: pointer;
    color: #333;
}

.showMore {
    display: block;
    margin: 20px auto;
    padding: 15px 10px;
    background-color: #be6b80;
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    margin-bottom: 50px;
    font-family: PlayFair Display SC;
}

.banner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.banner-img video {
    border-radius: 35px;
    width: 100%;
    height: auto;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button__banner {
    background-color: #BE6B80;
    padding: 10px 20px;
    max-width: 446px;
    border-radius: 20px;
    font-family: 'Playfair Display SC', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 400;
    align-items: center;
}

.button__banner:hover {
    background-color: #864958;
    transition: 0.3s ease;
}

.video {
    background-color: #ECD4D0;
}

.video video {
    padding: 65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1010px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 1089px) {
    .card__item {
        width: 300px;
        height: 380px;
    }

    .card__item img {
        height: 230px;
    }

    .button__banner {
        font-size: 36px;
    }

    .card__item-title {
        font-size: 22px;
    }
}

@media (max-width: 999px) {
    .card__item {
        width: 250px;
        height: 305px;
    }

    .card__item img {
        height: 170px;
    }

    .card__item-title {
        font-size: 21px;
    }

    .card__item-button {
        padding: 4px 20px;
        font-size: 18px;
    }

    .card__item-bottom span {
        font-size: 18px;
    }

    .card__item-title {
        font-size: 20px;
    }
}

@media (max-width: 895px) {
    .button__banner {
        font-size: 33px;
    }
}

@media (max-width: 850px) {
    .card__item {
        width: 220px;
        height: 285px;
    }

    .card__item img {
        height: 150px;
    }

    .card__item-button {
        padding: 2px 20px;
        font-size: 16px;
    }

    .card__item-title {
        font-size: 18px;
    }

    .button__banner {
        font-size: 30px;
    }

    .card__item-bottom span {
        font-size: 16px;
    }
}

@media (max-width: 759px) {
    .card__item img {
        height: 145px;
    }

    .card__item {
        width: 180px;
        height: 265px;
    }

    .card__item-button {
        font-size: 13px;
    }

    .cards {
        gap: 20px;
    }

    .button__banner {
        font-size: 27px;
    }

    .card__item-title {
        font-size: 15px;
    }

    .card__item-bottom span {
        font-size: 13px;
    }

    .card__item-bottom p {
        font-size: 18px;
    }

    .modal__content {
        max-width: 375px;
    }
}

@media (max-width: 685px) {
    .button__banner {
        font-size: 24px;
    }
}

@media (max-width: 619px) {
    .card__item img {
        height: 150px;
    }

    .card__item {
        width: 200px;
    }

    h1 {
        font-size: 37px;
    }

    .button__banner {
        font-size: 20px;
    }
}

@media (max-width: 451px) {
    .button__banner {
        font-size: 16px;
    }

    h1 {
        font-size: 35px;
    }

    .card__item-button {
        padding: 2px 20px;
    }

    .card__item {
        width: 180px;
    }

    .modal__content{
        font-size: 18px;
    }
}

@media (max-width: 411px) {
    .card__item img {
        height: 160px;
    }

    .card__item {
        width: 220px;
    }

    .card__item-button {
        font-size: 14px;
    }

    h1 {
        font-size: 33px;
    }
}