.top__sales h1 {
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.top__sales {
    background-color: #F4CBC7;
}

.card__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 35px;
    width: 370px;
    height: 480px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card__item img {
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
}

.card__item:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.card__item p:first-child {
    font-weight: 600;
    font-size: 24px;
}

.card-item__inner p {
    margin-bottom: auto;
    flex-grow: 1;
}

.card-item__inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px;
}

.card__inner-composition {
    font-size: 16px;
}

.card__inner-composition-title {
    font-weight: 600 !important;
}

.card__item-button {
    background-color: #B7B4B4;
    border-radius: 20px;
    font-weight: 400;
    align-items: center;
    align-self: flex-end;
    margin-bottom: auto;
    color: #000;
    padding: 5px 30px;
}

.card__footer {
    display: flex;
    justify-content: space-between;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover {
    color: red;
}





.banner {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 50px;
}

.banner-img video {
    border-radius: 35px;
    width: 100%;
    height: auto;
}

.banner-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.button__banner {
    background-color: #BE6B80;
    padding: 10px 20px;
    max-width: 446px;
    border-radius: 20px;
    font-family: 'Playfair Display SC', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 400;
    align-items: center;
}

.button__banner:hover {
    background-color: #864958;
    transition: 0.3s ease;
}

.video {
    background-color: #ECD4D0;
}

.video video {
    padding: 65px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1010px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

@media (max-width: 1209px) {
    .card__item {
        width: 330px;
        height: 440px;
    }

    .card__item img {
        object-fit: cover;
        height: 250px;
    }
}

@media (max-width: 1089px) {
    .card__item {
        width: 300px;
        height: 410px;
    }

    .card__item img {
        height: 230px;
    }

    .button__banner {
        font-size: 36px;
    }
}

@media (max-width: 999px) {
    .card__item {
        width: 250px;
        height: 360px;
    }

    .card__item img {
        height: 200px;
    }

    .card-item__inner p {
        font-size: 18px;
    }

    .card__item-button {
        padding: 4px 20px;
        font-size: 18px;
    }

    .card__inner-composition p {
        font-size: 14px;
    }
}

@media (max-width: 895px) {
    .button__banner {
        font-size: 33px;
    }
}

@media (max-width: 850px) {
    .card__item {
        width: 220px;
        height: 330px;
    }

    .card__item img {
        height: 180px;
    }

    .card-item__inner p {
        font-size: 16px;
    }

    .card__item-button {
        padding: 2px 20px;
        font-size: 16px;
    }

    .button__banner {
        font-size: 30px;
    }

    .card__inner-composition p {
        font-size: 13px;
    }
}

@media (max-width: 759px) {
    .card__item img {
        height: 145px;
    }

    .card__item {
        width: 180px;
        height: 280px;
    }

    .card-item__inner p {
        font-size: 14px;
    }

    .card__item-button {
        font-size: 13px;
    }

    .cards {
        gap: 20px;
    }

    .button__banner {
        font-size: 27px;
    }

    .card__inner-composition p {
        font-size: 11px;
    }
}

@media (max-width: 685px) {
    .button__banner {
        font-size: 24px;
    }
}

@media (max-width: 619px) {
    .card__item img {
        height: 150px;
    }

    .card__item {
        width: 200px;
        height: 280px;
    }

    h1 {
        font-size: 37px;
    }

    .button__banner {
        font-size: 20px;
    }
}

@media (max-width: 451px) {
    .button__banner {
        font-size: 16px;
    }
}

@media (max-width: 451px) {
    h1 {
        font-size: 35px;
    }

    .card__item-button {
        padding: 2px 20px;
    }

    .card__item {
        width: 180px;
        height: 260px;
    }
}

@media (max-width: 411px) {
    .card__item img {
        height: 160px;
    }

    .card__item {
        width: 220px;
        height: 300px;
    }

    .card__item-button {
        font-size: 14px;
    }

    h1 {
        font-size: 33px;
    }
}