.footer {
    background-color: #8a8379;
    color: white;
    padding: 40px 0;
    font-weight: 400;
}

footer p,
footer span,
footer a {
    font-size: 25px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-socials,
.footer-info {
    flex: 1;
    min-width: 200px;
    text-align: center;
}

.footer-info {
    display: grid;
    gap: 10px;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin: 10px 0;
    align-items: center;
}

.footer-logo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
}

@media (max-width: 1020px) {
    footer p,
    footer span,
    footer a {
        font-size: 20px;
    }

    .social-icons img:not(.footer__social-insta) {
        width: 50px;
        height: auto;
    }

    .footer__social-insta {
        width: 40px;
    }
}

@media (max-width: 720px) {
    footer p,
    footer span,
    footer a {
        font-size: 18px;
    }

    .social-icons {
        margin: 10px 0 0;
    }
}


@media (max-width: 680px) {
    .footer-container {
        flex-direction: column;
    }

    .footer-logo {
        margin: 20px;
        width: 300px;
    }
}